version: '3.3'

services:
  docker-host:
    image: qoomon/docker-host
    cap_add: [ 'NET_ADMIN', 'NET_RAW' ]
    restart: on-failure
  tcp_message_emitter:
    depends_on: [ docker-host ]
    image: alpine
    command: [ "sh", "-c", "while :; do date; sleep 1; done | nc 'docker-host' 2323 -v"]
  udp_message_emitter:
    depends_on: [ docker-host ]
    image: alpine
    command: [ "sh", "-c", "while :; do date; sleep 1; done | nc 'docker-host' 5353 -u -v"]
  traefik:
    image: traefik:v2.0
    ports:
      - "80:80"
      - "8081:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./configs/traefik.yaml:/traefik.yaml
  cop:
    image: tokend/traefik-cop:1.0.0
    restart: unless-stopped
    environment:
      - KV_VIPER_FILE=/config.yaml
    volumes:
      - ./configs/cop.yaml:/config.yaml
    entrypoint: sh -c "traefik-cop run"
  errors:
    image: tokend/error-handler-svc:0.0.1
    restart: unless-stopped
    environment:
      - KV_VIPER_FILE=/config.yaml
    volumes:
      - ./configs/errors.yaml:/config.yaml
    entrypoint: sh -c "error-handler-svc run service"
  upstream:
    image: nginx
    restart: unless-stopped
    volumes:
      - ./configs/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "8000:80"
    labels:
      - "traefik.frontend.passHostHeader=true"
  adks:
    image: tokend/adks:1.0.0
    restart: unless-stopped
    labels:
      - "traefik.enabled=false"
    depends_on:
      - horizon
      - adks_db
      - marketplace
    ports:
      - 8006:80
    volumes:
      - ./configs/adks.toml:/config.toml
  adks_db:
    image: tokend/postgres-ubuntu:9.6
    restart: unless-stopped
    labels:
      - "traefik.enabled=false"
    environment:
      - POSTGRES_USER=adks
      - POSTGRES_PASSWORD=adks
      - POSTGRES_DB=adks
      - PGDATA=/pgdata
    volumes:
      - adks-data:/pgdata
  redis:
    image: redis:5.0-alpine
    restart: unless-stopped
    labels:
      - "traefik.enabled=false"
    volumes:
      - redis-data:/data
    command:
      - redis-server
      - --appendonly
      - "yes"
  core:
    image: tokend/core:3.7.0-x.3
    depends_on:
      - traefik
    restart: unless-stopped
    environment:
      - POSTGRES_USER=core
      - POSTGRES_PASSWORD=core
      - POSTGRES_DB=core
      - PGDATA=/data/pgdata
      - ENSUREDB=1
      - CONFIG=/core-config.ini
    volumes:
      - ./configs/core.ini:/core-config.ini
      - core-data:/data
    labels:
      - "autoheal=true"
      - "traefik.enabled=false"
  horizon:
    image: tokend/horizon:3.10.0-x.3
    depends_on:
      - core
    restart: unless-stopped
    environment:
      - POSTGRES_USER=horizon
      - POSTGRES_PASSWORD=horizon
      - POSTGRES_DB=horizon
      - PGDATA=/data/pgdata
    volumes:
      - ./configs/horizon.yaml:/config.yaml
      - horizon-data:/data
  api:
    image: tokend/identity:4.5.5-rc.0
    restart: unless-stopped
    depends_on:
      - horizon
      - api_db
    environment:
      - KV_VIPER_FILE=/config.yaml
    volumes:
      - ./configs/api.yml:/config.yaml
    command: run
  api_db:
    image: tokend/postgres-ubuntu:9.6
    restart: unless-stopped
    labels:
      - "traefik.enabled=false"
    environment:
      - POSTGRES_USER=api
      - POSTGRES_PASSWORD=api
      - POSTGRES_DB=api
      - PGDATA=/pgdata
    volumes:
      - api-data:/pgdata
  initscripts:
    image: tokend/terraform-provider-tokend:1.3.4
    labels:
      - "traefik.enabled=false"
    depends_on:
      - horizon
      - storage
    volumes:
      - ./terraform:/opt/config
    entrypoint: ""
    command: /opt/config/apply.sh
  web_client:
    image: registry.gitlab.com/tokend/blockparty/web-client:2.2.0
    restart: unless-stopped
    labels:
      - "traefik.enabled=false"
    volumes:
      - ./configs/client.js:/usr/share/nginx/html/static/env.js
    ports:
      - 8060:80
  admin_client:
    image: registry.gitlab.com/tokend/blockparty/admin-panel:1.1.0-rc.1
    restart: unless-stopped
    labels:
      - "traefik.enabled=false"
    volumes:
      - ./configs/client.js:/usr/share/nginx/html/static/env.js
    ports:
      - 8070:80
  storage:
    image: minio/minio:RELEASE.2019-01-31T00-31-19Z
    restart: unless-stopped
    entrypoint: "sh"
    labels:
      - "traefik.enabled=false"
    command: -c "mkdir -p /data/tfstate && minio server /data"
    environment:
      - MINIO_ACCESS_KEY=miniominio
      - MINIO_SECRET_KEY=sekritsekrit
      - MINIO_BROWSER=off
    volumes:
      - storage-data:/data
  nft-svc:
    image: registry.gitlab.com/tokend/blockparty/nft-svc:148275b28e3f71cae605c11dd7b493cb1c97539a
    restart: unless-stopped
    entrypoint: sh -c "nft-svc migrate up && nft-svc run"
    depends_on:
      - horizon
      - nft_svc_db
    environment:
      - KV_VIPER_FILE=/config.yaml
    volumes:
      - ./configs/nft-svc.yaml:/config.yaml
  nft_svc_db:
    image: tokend/postgres-ubuntu:9.6
    restart: unless-stopped
    labels:
      - "traefik.enabled=false"
    environment:
      - POSTGRES_USER=nft
      - POSTGRES_PASSWORD=nft
      - POSTGRES_DB=nft
      - PGDATA=/pgdata
    volumes:
      - nft-data:/pgdata
  marketplace:
    image: registry.gitlab.com/tokend/blockparty/marketplace-svc:b43a472a6a61e40b49056961c89a71bf4edca2d5
    restart: unless-stopped
    environment:
      - KV_VIPER_FILE=/config.yaml
    depends_on:
      - horizon
      - marketplace_db
    volumes:
      - ./configs/marketplace.yaml:/config.yaml
    entrypoint: sh -c "marketplace-svc migrate up && marketplace-svc run"
  marketplace_db:
    image: tokend/postgres-ubuntu:9.6
    labels:
      - "traefik.enabled=false"
    restart: unless-stopped
    environment:
      - POSTGRES_USER=marketplace
      - POSTGRES_PASSWORD=marketplace
      - POSTGRES_DB=marketplace
      - PGDATA=/pgdata
    volumes:
      - marketplace-data:/pgdata
  auction:
    image: registry.gitlab.com/tokend/blockparty/auction-svc:80af7cd9b61af5643dfd2646a3bebd05b5ce73f7
    restart: unless-stopped
    environment:
      - KV_VIPER_FILE=/config.yaml
    depends_on:
      - horizon
      - auction_db
    volumes:
      - ./configs/auction.yaml:/config.yaml
    entrypoint: sh -c "auction-svc migrate up && auction-svc run"
  auction_db:
    image: tokend/postgres-ubuntu:9.6
    labels:
      - "traefik.enabled=false"
    restart: unless-stopped
    environment:
      - POSTGRES_USER=auction
      - POSTGRES_PASSWORD=auction
      - POSTGRES_DB=auction
      - PGDATA=/pgdata
    volumes:
      - auction-data:/pgdata
  dns:
    image: registry.gitlab.com/tokend/blockparty/dns-svc:0.5.2-rc.3
    restart: unless-stopped
    environment:
      - KV_VIPER_FILE=/config.yaml
    depends_on:
      - horizon
      - dns_db
    volumes:
      - ./configs/dns.yaml:/config.yaml
    entrypoint: sh -c "dns-svc migrate up && dns-svc run"
  dns_db:
    image: tokend/postgres-ubuntu:9.6
    labels:
      - "traefik.enabled=false"
    restart: unless-stopped
    environment:
      - POSTGRES_USER=dns
      - POSTGRES_PASSWORD=dns
      - POSTGRES_DB=dns
      - PGDATA=/pgdata
    volumes:
      - dns-data:/pgdata
  identity-storage:
    image: registry.gitlab.com/tokend/identity-storage:0086e9381a6cd4f1993e3e585cca3ea771a9d0a4
    labels:
      - "traefik.enabled=false"
    environment:
      - KV_VIPER_FILE=/config.yaml
    restart: unless-stopped
    depends_on:
      - horizon
      - identity_db
    volumes:
      - ./configs/identity-storage.yaml:/config.yaml
    entrypoint: sh -c "identity-storage migrate up && identity-storage run service"
  identity_db:
    image: tokend/postgres-ubuntu:9.6
    labels:
      - "traefik.enabled=false"
    restart: unless-stopped
    environment:
      - POSTGRES_USER=identity
      - POSTGRES_PASSWORD=identity
      - POSTGRES_DB=identity
      - PGDATA=/pgdata
    volumes:
      - identity-data:/pgdata

  ## Ethereum
  erc20-deposit:
    image: registry.gitlab.com/tokend/docker-registry/erc20-deposit-svc:362f073aa4b6205f737cfbbed9473e72941d3ffc
    labels:
      - "traefik.enabled=false"
    restart: unless-stopped
    depends_on:
      - horizon
    environment:
      - KV_VIPER_FILE=/config.yaml
    volumes:
      - ./configs/erc20-deposit.yaml:/config.yaml
    entrypoint: "erc20-deposit-svc"
    command: ["run", "deposit"]
  erc20-deployer:
    image: registry.gitlab.com/tokend/docker-registry/erc20-deposit-svc:362f073aa4b6205f737cfbbed9473e72941d3ffc
    restart: on-failure
    labels:
      - "traefik.enabled=false"
    depends_on:
      - horizon
    environment:
      - KV_VIPER_FILE=/config.yaml
    volumes:
      - ./configs/erc20-deposit.yaml:/config.yaml
    entrypoint: "erc20-deposit-svc"
    command: ["run", "deployer"]
  erc20-funnel:
    image: registry.gitlab.com/tokend/docker-registry/erc20-deposit-svc:362f073aa4b6205f737cfbbed9473e72941d3ffc
    restart: unless-stopped
    labels:
      - "traefik.enabled=false"
    depends_on:
      - horizon
    environment:
      - KV_VIPER_FILE=/config.yaml
    volumes:
      - ./configs/erc20-deposit.yaml:/config.yaml
    entrypoint: "erc20-deposit-svc"
    command: ["run", "funnel"]
  erc20-withdraw:
    image: tokend/erc20-withdraw-svc:1.0.6
    restart: unless-stopped
    labels:
      - "traefik.enabled=false"
    depends_on:
      - horizon
    environment:
      - KV_VIPER_FILE=/config.yaml
    volumes:
      - ./configs/erc20-withdraw.yaml:/config.yaml
    entrypoint: "erc20-withdraw-svc"
    command: ["run", "withdraw"]


  erc721-deposit:
    image: registry.gitlab.com/tokend/blockparty/erc-721-deposit:0.1.0-rc.1
    labels:
      - "traefik.enabled=false"
    restart: unless-stopped
    depends_on:
      - horizon
    environment:
      - KV_VIPER_FILE=/config.yaml
    volumes:
      - ./configs/erc721-deposit.yaml:/config.yaml
    entrypoint: "erc-721-deposit"
    command: ["run", "deposit"]
  erc721-deployer:
    image: registry.gitlab.com/tokend/blockparty/erc-721-deposit:0.1.0-rc.1
    restart: on-failure
    labels:
      - "traefik.enabled=false"
    depends_on:
      - horizon
      - nft-svc
    environment:
      - KV_VIPER_FILE=/config.yaml
    volumes:
      - ./configs/erc721-deposit.yaml:/config.yaml
    entrypoint: "erc-721-deposit"
    command: ["run", "deployer"]
  erc721-funnel:
    image: registry.gitlab.com/tokend/blockparty/erc-721-deposit:0.1.0-rc.1
    restart: unless-stopped
    labels:
      - "traefik.enabled=false"
    depends_on:
      - horizon
    environment:
      - KV_VIPER_FILE=/config.yaml
    volumes:
      - ./configs/erc721-deposit.yaml:/config.yaml
    entrypoint: "erc-721-deposit"
    command: ["run", "funnel"]
  erc721-withdraw:
    image: registry.gitlab.com/tokend/blockparty/erc-721-withdraw:0.1.0-rc.1
    restart: unless-stopped
    labels:
      - "traefik.enabled=false"
    depends_on:
      - horizon
    environment:
      - KV_VIPER_FILE=/config.yaml
    volumes:
      - ./configs/erc721-withdraw.yaml:/config.yaml
    entrypoint: "erc-721-withdraw"
    command: ["run", "withdraw"]
  stripe:
    image: registry.gitlab.com/tokend/blockparty/stripe-svc:4021b500f31608fb228b84b4dbe1a784003ad37e
    restart: unless-stopped
    volumes:
      - ./configs/stripe.yaml:/config.yaml
    environment:
      - KV_VIPER_FILE=/config.yaml
    entrypoint: sh -c "stripe-svc migrate up && stripe-svc run"
    command: run
    depends_on:
      - horizon
  templatesprovider:
    image: tokend/templates-svc:1.1.0
    labels:
      - "traefik.enabled=false"
    restart: unless-stopped
    environment:
      - KV_VIPER_FILE=/config.yaml
    volumes:
      - ./configs/templatesprovider.yaml:/config.yaml
    command:
      - 'run'
      - 'service'
  templates:
    image: minio/minio:RELEASE.2019-01-31T00-31-19Z
    restart: unless-stopped
    entrypoint: "sh"
    command: -c "mkdir -p /data/templates && minio server /data"
    environment:
      - MINIO_ACCESS_KEY=miniominio
      - MINIO_SECRET_KEY=sekritsekrit
      - MINIO_BROWSER=on
    ports:
      - 9000:9000
    volumes:
      - templates-data:/data
  notificator:
    image: tokend/notificator:0.5.2
    labels:
      - "traefik.enabled=false"
    restart: unless-stopped
    depends_on:
      - horizon
      - notificator_db
    volumes:
      - ./configs/notificator.yaml:/config.yaml
    command:
      - "notificator"
      - "--config"
      - "/config.yaml"
      - "--migrations"
      - "/migrations"
      - "run"
  notificator_db:
    image: tokend/postgres-ubuntu:9.6
    labels:
      - "traefik.enabled=false"
    restart: unless-stopped
    environment:
      - POSTGRES_USER=notificator
      - POSTGRES_PASSWORD=notificator
      - POSTGRES_DB=notificator
      - PGDATA=/pgdata
    volumes:
      - notificator-data:/pgdata
  stripe_db:
    image: tokend/postgres-ubuntu:9.6
    labels:
      - "traefik.enabled=false"
    restart: unless-stopped
    environment:
      - POSTGRES_USER=stripe
      - POSTGRES_PASSWORD=stripe
      - POSTGRES_DB=stripe
      - PGDATA=/pgdata
    volumes:
      - stripe-data:/pgdata
volumes:
  identity-data:
  adks-data:
  api-data:
  core-data:
  horizon-data:
  storage-data:
  redis-data:
  nft-data:
  marketplace-data:
  dns-data:
  templates-data:
  notificator-data:
  stripe-data:
  auction-data: